@charset "UTF-8";

.container {
  width: 50rem;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  text-align: center;
}

.app {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
}

:focus {
  outline: none;
}

.input-form {
  display: flex;
}

.input-bar {
  position: relative;
  margin: 0 5px 0 0;
  width: 15.625rem;
}

input[type=text] {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 4px 0;
}

input[type=text] + .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}

input[type=text]:focus + .focus-border {
  width: 100%;
  left: 0;
}

input[name=todo-input] {
  display: inline-block;
  width: 15.625rem
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

ul > li {
  list-style: none;
}

.todo-list {
  width: 28.75rem;
}

.button {
  border: 1px solid transparent;
  padding: .25rem .5rem;
  border-radius: .25rem;
  cursor: pointer;
}

.grabbing {
  opacity: .4;
  cursor: move;
}


/****** todo *******/


.todo {
  display: flex;
  justify-content: center;
  padding: .25rem 0;
}

.todo-hidden {
  display: none;
}


/****** todo display ******/


.todo-display {
  display: flex;
  justify-content: center;
  line-height: 1.375rem;
}

.todo-main {
  display: flex;
  box-sizing: border-box;
  width: 25.25rem;
  margin: 0 .25rem;
  padding: .25rem .5rem;
  border-radius: .25rem;
  background-color: #eee;
  transition: opacity 2000ms;
  user-select: text;
}

.todo-display-hidden {
  display: none;
}

.todo-drag-handle {
  display: inline-block;
  visibility: hidden;
  width: 1rem;
  padding: 0 0 0 .75rem;
  color: #aaa;
  line-height: 6px;
  text-shadow: 0 0 0 black;
  cursor: move;
  user-select: none;
}

.todo:hover .todo-drag-handle {
  visibility: visible;
}

.todo-checkbox {
  align-self: baseline;
  margin: 0;
}

input[type=checkbox] {
  display: none;
}

.display-checkbox {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 10px 0 0;
  vertical-align: -6px;
  background-color: transparent;
  transform-origin: center;
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}

.display-checkbox::before {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 0;
  height: 2px;
  content: "";
  border-radius: 2px;
  background: #fff;
  transform: rotate(45deg);
  transform-origin: 0 0;
  transition: width 50ms ease 50ms;
}

.display-checkbox::after {
  position: absolute;
  top: 14px;
  left: 8px;
  width: 0;
  height: 2px;
  content: "";
  border-radius: 2px;
  background: #fff;
  transform: rotate(305deg);
  transform-origin: 0 0;
  transition: width 50ms ease;
}

/** hover时的动画 **/

label:hover .display-checkbox::before {
  width: 6px;
  transition: width 100ms ease, background-color 350ms;
}

label:hover .display-checkbox::after {
  width: 10px;
  transition: width 150ms ease, background-color 350ms;
}

/** 维持点击后，checkbox的状态，假如label中有其他可点击的部分，点击和取消时的动画 **/

input[type=checkbox]:checked+.display-checkbox {
  background-color: #fff;
  transform: scale(1.1);
}

input[type=checkbox]:checked+.display-checkbox::before {
  width: 6px;
  background: #000;
  transition: width 150ms ease 100ms;
}

input[type=checkbox]:checked+.display-checkbox::after {
  width: 10px;
  background: #000;
  transition: width 150ms ease 100ms;
}

/** 在checkbox上点击的动画，包括取消时的动画 **/

label:hover input[type=checkbox]:checked+.display-checkbox {
  background-color: #fff;
  transform: scale(1.1);
}

label:hover input[type=checkbox]:checked+.display-checkbox::before {
  width: 6px;
  background: #000;
  transition: width 150ms ease 100ms, background-color 300ms;
}

label:hover input[type=checkbox]:checked+.display-checkbox::after {
  width: 10px;
  background: #000;
  transition: width 150ms ease 100ms, background-color 300ms;
}

.todo-content {
  flex: 1;
  width: 345px;
  padding: 0 5px;
  align-self: baseline;
  cursor: text;
}

.todo .button-delete-todo {
  visibility: hidden;
  color: #fff;
  background-color: salmon;
  align-self: baseline;
  margin: 0;
}

.todo:hover .button-delete-todo {
  visibility: visible;
}

.todo-is-done {
  color: #bbb;
  text-decoration: line-through;
}


/****** todo edit ******/


.todo-edit {
  display: none;
  width: 25rem;
  padding: 0 .25rem;
}

.todo-edit .button:first-of-type {
  margin: 0 .25rem;
}

.todo-edit-show {
  display: flex;
  justify-content: center;
  height: 2rem;
}

.todo-edit .input-bar {
  flex: 1;
  align-self: center;
}

.todo-edit-input {

}

.button-add-todo {
  color: #fff;
  background-color: #51e898;
}

.button-save-todo-edit {
  color: #fff;
  background-color: #1DA1F2;
  align-self: center;
}

.button-cancel-todo-edit {
  background-color: lightgray;
  align-self: center;
}


/****** control todo display option ******/


.display-ctrl {
  display: flex;
  width: 50%;
  border: 2px solid salmon;
  border-radius: .375rem;
}

.display-option {
  flex: 1;
  text-align: center;
}

.display-option .button {
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  transition: background-color .15s;
}

.display-option .button:hover {
  background-color: lightsalmon;
}

.display-option .button:active {
  background-color: darksalmon;
}

.display-option .button:focus {
  outline: none;
}

.display-option .selected {
  background-color: salmon;
}

.display-option:not(:first-child) > .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.display-option:not(:last-child) > .button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.display-option:not(:last-child) {
  border-right: 2px solid salmon;
}