@charset "UTF-8";


/****** the structure of app ******/


.container {
  width: 50rem;
  margin: 0 auto;
}

.header {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.app-name {
  width: 25%;
  padding: 4px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  transition: text-shadow 500ms ease-in-out;
}

.app-name:hover {
  text-shadow: 2px 1px 2px rgba(0, 0, 0, .4);
  transition: text-shadow 500ms ease-in-out;
}

.app {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
}


/****** general usage  ******/


:focus {
  outline: none;
}

ul {
  padding: 0;
  margin: 1rem 0 0;
}

ul > li {
  list-style: none;
}

button, input {
  line-height: normal;
}

/*** button interaction ***/

.button {
  align-self: center;
  border: 1px solid transparent;
  padding: .125rem .5rem;
  border-radius: .25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
  transition: box-shadow 100ms;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}

.button:active {
  opacity: 0.9;
  transform: scale(0.9);
  box-shadow: none;
  transition: transform 100ms ease;
}

/*** stylish input text ***/

.input-bar {
  position: relative;
  margin: 0 .5rem 0 0;
  width: 15.625rem;
}

input[type=text] {
  display: block;
  width: 100%;
  border: none;
  border-bottom: .125rem solid #ddd;
  padding: 4px 0;
}

input[type=text] + .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: .125rem;
  background-color: #02c78d;
  transition: 0.4s;
}

input[type=text]:focus + .focus-border {
  width: 100%;
  left: 0;
}


/****** the main parts of todo list ******/

.input-form {
  display: flex;
}

.todo-list {
  width: 28.75rem;
}


/****** todo *******/


.todo {
  display: flex;
  justify-content: center;
  padding: .25rem 0;
  transition: opacity 2000ms;
}

.todo-hidden {
  display: none;
}

/** use it when the drag handle was picked **/
.grabbing {
  opacity: .4;
  cursor: move;
}


/****** todo display ******/


.todo-display {
  display: flex;
  justify-content: center;
  line-height: 1.375rem;
}

.todo-main {
  display: flex;
  box-sizing: border-box;
  width: 25.25rem;
  margin: 0 .25rem;
  padding: .25rem .5rem;
  border-radius: .25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  background-color: #eee;
  transition: box-shadow 100ms;
  user-select: text;
}

.todo-main:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.todo-display-hidden {
  display: none;
}

.todo-drag-handle {
  display: inline-block;
  visibility: hidden;
  width: 1rem;
  padding: 0 0 0 .5rem;
  margin: 0 0 0 .5rem;
  color: #aaa;
  line-height: 6px;
  text-align: center;
  text-shadow: 0 0 0 rgba(0, 0, 0, .4);
  transition: text-shadow 100ms;
  cursor: move;
  user-select: none;
}

.todo-drag-handle:hover {
  text-shadow: 0 0 1px rgba(0, 0, 0, .4);
}

.todo:hover .todo-drag-handle {
  visibility: visible;
}

.todo-checkbox {
  align-self: baseline;
  margin: 0;
}

.todo-checkbox input[type=checkbox] {
  display: none;
}

.display-checkbox {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 10px 0 0;
  vertical-align: -6px;
  background-color: transparent;
  transform-origin: center;
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
  cursor: pointer;
}

.display-checkbox::before {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 0;
  height: 2px;
  content: "";
  border-radius: 2px;
  background: #fff;
  transform: rotate(45deg);
  transform-origin: 0 0;
  transition: width 50ms ease 50ms;
}

.display-checkbox::after {
  position: absolute;
  top: 14px;
  left: 8px;
  width: 0;
  height: 2px;
  content: "";
  border-radius: 2px;
  background: #fff;
  transform: rotate(305deg);
  transform-origin: 0 0;
  transition: width 50ms ease;
}

/** 进入hover时的状态与过度动画，和checked取消时的动画 **/

label:hover .display-checkbox::before {
  width: 6px;
  transition: width 100ms ease, background-color 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}

label:hover .display-checkbox::after {
  width: 10px;
  transition: width 150ms ease, background-color 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}

/** 维持点击后checkbox的状态，假如label中有其他可点击的部分，点击时的动画 **/

.hidden-checkbox:checked+.display-checkbox {
  background-color: #fff;
  transform: scale(1.1);
}

.hidden-checkbox:checked+.display-checkbox::before {
  width: 6px;
  background: #000;
  transition: width 150ms ease 100ms, background-color 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}

.hidden-checkbox:checked+.display-checkbox::after {
  width: 10px;
  background: #000;
  transition: width 150ms ease 100ms, background-color 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}

.todo-content {
  flex: 1;
  width: 21.5625rem; /* 345px */
  padding: 0 .3125rem;
  align-self: baseline;
  color: #000;
  line-height: 1.6;
  transition: color 200ms;
  cursor: text;
}

.todo-content:active {
  opacity: 0.6;
  transition: opacity 100ms;
}

.todo .delete-button-wrapper {
  width: 2rem;
  height: 2rem;
}

.todo .button-delete-todo {
  position: relative;
  visibility: hidden;
  background-color: #fa8072;  /* salmon */
  width: 100%;
  height: 100%;
  align-self: baseline;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 13%;
  transition: transform 100ms ease;
}

.todo:hover .button-delete-todo {
  visibility: visible;
}

.button-delete-todo::before {
  position: absolute;
  left: 9px;
  top: 6px;
  content: '';
  width: 0;
  height: .25rem;
  background-color: #fff;
  border-radius: .125rem;
  transform: rotate(45deg);
  transform-origin: 0 0;
  transition: width 150ms ease-in-out 100ms;
}

.button-delete-todo::after {
  position: absolute;
  left: 26px;
  top: 9px;
  width: 0;
  height: .25rem;
  content: '';
  background-color: #fff;
  border-radius: .125rem;
  transform: rotate(135deg);
  transform-origin: 0 0;
  transition: width 150ms ease-in-out;
}

.delete-button-wrapper:hover .button-delete-todo::before {
  width: 1.5rem;
  transition: width 150ms ease-in-out;
}

.delete-button-wrapper:hover .button-delete-todo::after {
  width: 1.5rem;
  transition: width 150ms ease-in-out 100ms;
}

.todo-is-done {
  color: #bbb;
  text-decoration: line-through;
  transition: color 200ms;
}


/****** todo edit ******/


.todo-edit {
  display: none;
  width: 25rem;
  padding: 0 .25rem;
}

.todo-edit .button:first-of-type {
  margin: 0 .25rem;
}

.todo-edit-show {
  display: flex;
  justify-content: center;
  height: 2rem;
}

.todo-edit .input-bar {
  flex: 1;
  align-self: center;
}

/*.todo-edit-input {*/

/*}*/

.todo-edit input[type=text] + .focus-border {
  background-color: #4e8dfd;
}

.button-add-todo {
  color: #fff;
  background-color: #51e898;
}

.button-save-todo-edit {
  color: #fff;
  background-color: #1DA1F2;
}

.button-cancel-todo-edit {
  background-color: lightgray;
}


/****** control todo display option ******/


.display-ctrl {
  display: flex;
  width: 50%;
  /*border: 2px solid salmon;*/
  border-radius: .375rem;
}

.display-option {
  flex: 1;
  text-align: center;
}

.display-option .button {
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
  transform: none;
  transition: background-color 100ms, box-shadow 100ms;
}

.display-option .button:hover {
  background-color: rgba(250, 128, 114, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  transition: background-color 100ms, box-shadow 100ms;
}

.display-option .button:active {
  background-color: rgba(250, 128, 114, 0.8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
  transition: background-color 100ms, box-shadow 100ms;
}

.display-option .button:focus {
  outline: none;
}

.display-option .selected {
  background-color: rgba(250, 128, 114, 1);  /** salmon **/
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}

.display-option:not(:first-child) > .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.display-option:not(:last-child) > .button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.display-option:not(:last-child) {
  /*border-right: 2px solid salmon;*/
}