@charset "UTF-8";

.container {
  width: 800px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  text-align: center;
}

.app {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
}

.input-form {

}

input[name=todo-input] {
  display: inline-block;
  width: 250px;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

ul > li {
  list-style: none;
}

.todo-list {
  width: 400px;
}

.button {
  border: 1px solid transparent;
  padding: 4px 8px;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
}

.todo {
  line-height: 30px;
  margin: 1px 0;
}

/**
 control todo display option
 */

.todo-hidden {
  display: none;
}

.display-ctrl {
  display: flex;
  width: 50%;
  border: 2px solid salmon;
  border-radius: 5px;
}

.display-option {
  flex: 1;
  text-align: center;
}

.display-option:nth-child(2) {
  border-left: 2px solid salmon;
  border-right: 2px solid salmon;
}

/*
 display todo
*/

.todo-display {
  display: flex;
}

.todo-display-hidden {
  display: none;
}

.todo-checkbox {
  align-self: baseline;
  margin: 0;
}

.todo-content {
  flex: 1;
  width: 345px;
  padding: 0 5px;
  align-self: baseline;
  cursor: text;
}

.button-delete-todo {
  opacity: 0;
  color: #fff;
  background-color: salmon;
  align-self: baseline;
  margin: 0;
}

.todo-is-done {
  color: #bbb;
  text-decoration: line-through;
}

/**
 edit todo
 */

.todo-edit {
  display: none;
}

.todo-edit .button {
  margin: 0 2px;
}

.todo-edit-show {
  display: flex;
  height: 30px;
}

.todo-edit-bar {
  flex: 1;
  align-self: center;
}

.button-add-todo {
  color: #fff;
  background-color: #51e898;
}

.button-delete-todo-show {
  opacity: 1;
}

.button-save-todo-edit {
  color: #fff;
  background-color: #1DA1F2;
  align-self: center;
}

.button-cancel-todo-edit {
  background-color: lightgray;
  align-self: center;
}

